{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>KolzoModo Insuarance</title>
    <link rel="icon" href="{% static 'images/kl-icon.jpg' %}" type="image/png">
    <script>
        // Function to reload the page after 10 minutes (600,000 milliseconds)
        setTimeout(function () {
            location.reload();
        }, 30000);
    </script>
</head>

<body>
    <div class="main">
        <div class="main2">
            <div class="container">
                <div class="brand">
                    <div class="navs">

                        <a href="" class="brand-link">
                            <img src="{% static 'images/kolzi-logo.jpg' %}" alt="Kolzi Modo Insurance" class="brand-logo">
                        </a>

                        <div class="navbar">
                            <a href="#home">Home</a>


                            <a href="#product">Product</a>
                            <a href="#contact">Contact</a>
                            <a href="#" onclick="window.location.href='{% url 'about' %}'; return false;">About Us</a>
                            <a href="#login"></a>
                            <div class="become-member">
                                <a href="#book" class="button">Join</a>
                            </div>
                        </div>
                    </div>
                    <section id="home">
                        <div class="insurance">
                            <div class="service">
                                <h1>We Ensure A Best <br>Insurance Service</h1>
                                <br>
                                <p>Insurer with us for best services .</p>
                                <div class="buttons">
                                    <div class="button">
                                        <button onclick="window.location.href='#book'">Get Quote Now</button>
                                    </div>
                                    <div class="button2">
                                        <button onclick="window.location.href='{% url 'about' %}';">Learn More</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
                <br><br><br><br><br><br><br><br><br><br>
                <section id="about">
                    <div class="importance">
                        <h2 class="importance-title">Importance of Insurance</h2>
                    </div>

                    <div class="brand2">

                        <div class="feature-card">
                            <div class="icon-wrapper">
                                <ion-icon name="shield-outline"></ion-icon>
                            </div>
                            <h3>Peace of Mind</h3><br>
                            <p1>12 With Insurance we take the risk of it and transfer as payable premiums</p1>
                        </div>

                        <div class="feature-card">
                            <div class="icon-wrapper">
                                <ion-icon name="leaf-outline"></ion-icon>
                            </div>
                            <h3>Set For Life</h3>
                            <br>
                            <p1>Insurance, life insurance enables one to set your goals and actually achievable when certain goals are in place</p1>
                        </div>

                        <div class="feature-card">
                            <div class="icon-wrapper">
                                <ion-icon name="checkmark-circle-outline"></ion-icon>
                            </div>
                            <h3>100% Satisfaction</h3><br>
                            <p1>Claims & Repayments (credibility) has become automatic to all insurance, thus satisfactory services</p1>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="brand3">
            <div class="policy-card">
                <div class="icon-container">
                    <img src="{% static 'images/eduction.jpg' %}" alt="student">
                </div>
                <h3>Education Policy</h3>
                <p>
                    Save today and invest in your child's education. It is designed to help save for your child's education while providing financial protection. The policy builds over time specifically for future education needs while offering life benefits to the beneficiaries when the parent falls incapable.
                </p>
            </div>

            <div class="policy-card">
                <div class="icon-container">
                    <img src="{% static 'images/life.jpg' %}" alt="Life insurance">
                </div>
                <h3>Life Insurance: Savings</h3>
                <p>
                    Save now for your future self and safeguard that of your children or families that depend on you. Strategic saving through either monthly or yearly installments became a basis to form a natural saving habit for a future that is unforeseen or at reach. With such savings you are able to plan for future projects like owning a house/car, building your business or an early retirement. We ask the question where do you see yourself in 5 or 10 years.
                </p>
            </div>

            <div class="policy-card">
                <div class="icon-container">
                    <img src="{% static 'images/investment.jpg' %}" alt="investment">
                </div>
                <h3>Investment Policy</h3>
                <p>
                    Unit link Policies, Money market, bonds etc. with the new and renowned information on investment rather than the physical asset investment, Kenyans are now shifting their focus to such platforms from the Britam Money Market to Jubilee Unit policies (Fanaka). Invest in a highly profitable yet liquitable earning.
                </p>
            </div>
        </div>
        <br><br>

        <div class="industry">
            <div class="conflict">
                <h3>Testimonies</h3>
                <p>

                </p>
            </div>
            <div class="users-container">
                <div class="users">
                    <div class="user1">
                        <div class="profile1">
                            <img src="{% static 'images/person.jpg' %}" alt="Kolzi Modo">
                        </div>
                        <div class="content">
                            <p>
                                Kolzi Modo -Aaron<br>
                                has it instant<br>
                                feedback and Certification
                            </p>
                        </div>
                        <div class="stars1">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                        </div>
                    </div>
                    <div class="user2">
                        <div class="profile2">
                            <img src="{% static 'images/person.jpg' %}" alt="User 2">
                        </div>
                        <div class="content">
                            <p>
                                From Kolzi Modo I<br>
                                have been able to get<br>
                                best that suites me
                            </p>
                        </div>
                        <div class="stars2">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                        </div>
                    </div>
                    <div class="user3">
                        <div class="profile3">
                            <img src="{% static 'images/person.jpg' %}" alt="User 3">
                        </div>
                        <div class="content">
                            <p>
                                Helps you see how<br>
                                many more days you need<br>
                                to reach your financial<br>
                                goal for the month and year
                            </p>
                        </div>
                        <div class="stars3">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br><br>
        <div class="vectors">
            <div class="hooli">
                <img src="{% static 'images/apa-logo.png' %}">

            </div>
            <div class="vector1">
                <img src="{% static 'images/Britam-logo.png' %}">

            </div>
            <div class="vetor2">
                <img src="{% static 'images/jubilee-logo.png' %}">

            </div>
            <div class="vector3">
                <img src="{% static 'images/Monarch.jpg' %}">

            </div>

        </div>
        <div class="news">
            <div class="letter">
                <div class="newsletter">
                    <p>Subscribe For Latest<br>Newsletter</p>
                    <div class="email">
                        <textarea>your email</textarea>
                        <button>subscribe></button>
                    </div>
                </div>
            </div>
        </div><br><br><br>

        <section id="product">
            <div class="pricing">
                <div class="realms">
                    <h2>Pricing</h2>
                    <p>
                        Problems trying to resolve the conflict between<br>the two major realms of classical physics,
                        Newtonian mechanics
                    </p>
                </div>
            </div><br>

            <div class="boxes">
                <div class="free">
                    <h3>Car Insurance</h3>
                    <div class="green">
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>100% sum assured</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Instant claim repay</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Comprehensive payment @4%, 5%</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>TPO Third party available as low as 6500</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Commercial certification</span>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="#book" class="button">Inquire</a>
                    </div>
                </div>

                <div class="standard">
                    <h3>Health Package</h3>
                    <div class="green">
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>In and Out - patient covers available</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Cover depends on limit as low as inpatient @150,000 ksh</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Dental and Optical inclusive</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Package varies according to type level hospital and ages of principal + family included</span>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="#book" class="button">Inquire</a>
                    </div>
                </div>

                <div class="premium">
                    <h3>Basic Package</h3>
                    <div class="green">
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Domestic / Home package</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Personal Accident, internship cover</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Travel Insurance</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Professional Indemnity</span>
                        </div>
                        <div>
                            <ion-icon name="checkmark-circle"></ion-icon>
                            <span>Contract liability (CAR) etc</span>
                        </div>
                    </div>

                    <div class="btn">
                        <a href="#book" class="button">Inquire</a>
                    </div>
                </div>
            </div>
        </section>

        <br><br><br>
        <div class="world">
            <div class="ping">
                <div class="pic">
                    <img src="{% static 'images/Aaron.jpg' %}">
                </div>
                <div class="about-ceo">
                    <h3>Aaron Munyua, CEO Of Kolzi Modo Insurance</h3>
                    <p>
                        He is well versed in the insurance industry.
                        He did a course in insurance under BCOM at the University of Egerton.
                        He had an internship course at APA Insurance, Thika for a year.
                        Worked under Vantage performance Limited as an underwriting assistant,
                        worked for finance, for 6 months as a claim assistant.
                        He did his ECOP examination, and Certified IRA licence
                        for year 2024 and 2025.
                        IRA 2024 No: IRA/05/47528/2024
                    </p>
                    <div class="socials">
                        <a href="https://www.facebook.com/me/" target="_blank">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>

                        <a href="https://www.linkedin.com/in/aaron-baron-21b27b1aa/" target="_blank">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>

            <section id="book">
                <div class="appointment">
                    <form id="appointment-form">
                        <div class="details">
                            <label for="full_name">Name*</label>
                            <input type="text" id="full_name" name="full_name" required placeholder="Enter your full name">

                            <label for="email">Email address*</label>
                            <input type="email" id="email" name="email" required placeholder="example@gmail.com">

                            <label for="department">Insurance type*</label>
                            <select id="department" name="department" required>
                                <option value="">Please Select</option>
                                <option value="Basic">Basic Package</option>
                                <option value="Life">Life Insurance</option>
                                <option value="Car">Car Insurance</option>
                            </select>

                            <label for="appointment_time">Time*</label>
                            <select id="appointment_time" name="appointment_time" required>
                                <option value="">Please Select</option>
                                <option value="09:00 AM">09:00 AM</option>
                                <option value="10:00 AM">10:00 AM</option>
                                <option value="11:00 AM">11:00 AM</option>
                            </select>
                        </div>
                        <div class="btnn">
                            <button type="submit">Book Appointment</button>
                        </div>
                    </form>
                </div>
            </section>

        </div><br>

        <br><br>
        <section id="contact"></section>
        <div class="information">
            <div class="Company info">
                <h4>Company info</h4><br>
                <p>About Us</p><br>

                <p>blog</p><br>
            </div>
            <div class="legal">
                <h4>Legal</h4><br>
                <p>About Us</p><br>
                <p>blog</p><br>
            </div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

            <div class="legal">
                <h4>Contact Us</h4><br>
                <p><i class="fas fa-envelope"></i> aaronbaron01@gmail.com</p><br>
                <p><i class="fas fa-phone"></i> +254799807335</p><br>
                <p><i class="fas fa-globe"></i> www.KolziModoinsuranc.com</p><br>
            </div>


            <div>
                <div>
                </div><br><br>

            </div>
        </div>
    </div>

    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>

    <script src="{% static 'js/site.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>


</html>